In [23]:
import pandas as pd
import numpy as np
import itertools
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, HashingVectorizer
from sklearn import metrics
import matplotlib.pyplot as plt

In [24]:
# pred = pd.read_csv('D:\zzKoding\Data Sains - Machine Learning - AI\Lomba\Satria Data 2020\Data2\hasil_pred_rev.csv')
# pred = pd.read_csv('D:\zzKoding\Data Sains - Machine Learning - AI\Lomba\Satria Data 2020\Data sementara\Kata baku dan feature sendiri.csv')
pred = pd.read_csv('D:\zzKoding\Data Sains - Machine Learning - AI\Lomba\Satria Data 2020\Data sementara\Kata baku dan feature sendiri2.csv')
data_revisi = pd.read_excel('D:\zzKoding\Data Sains - Machine Learning - AI\Lomba\Satria Data 2020\Data2\Data Uji BDC revisi gabung.xlsx')

In [25]:
display(pred.head(5))

       ID  prediksi
0  238057         1
1  238158         1
2  238865         1
3  248298         1
4  255176         1

In [26]:
display(data_revisi.head())

,ID,tanggal,judul,narasi,nama file gambar,Unnamed: 5,Unnamed: 6
0,238057,2020-07-13 00:00:00,Narasi Tito Karnavian Berideologi Komunis Kare...,TITO KARNIVAN ITU BERIDIOLOGI KOMUNIS DIA BISA...,238057.jpg,1,NaN
1,238158,2020-07-06 00:00:00,Anies: Seberat beratnya Pekerjaan Akan terasa ...,Seberat beratnya Pekerjaan Akan terasa ringan ...,238158.jpg,1,NaN
2,238865,2020-04-22 00:00:00,Hindu di india Melemparkan Patung Buatan Merek...,Hindu di india melemparkan patung buatan merek...,238865.jpg,1,NaN
3,248298,2019-10-22 00:00:00,RSCM Praktekkan Penyedotan Plug Vena/Saluran ...,Mulai Hari ini di RSCM mulai diPraktekkan Peny...,248298.jpg,1,NaN
4,255176,2020-05-01 00:00:00,Permohonan Kelonggaran Angsuran ke OJK,"Untuk sekedar info, Bagi anda yg punya ansuran...",255176.jpg,1,NaN

In [27]:
prediksi = pred['prediksi']
data_new_rev = data_revisi['Unnamed: 5']

In [28]:
print(prediksi)

0      1
1      1
2      1
3      1
4      1
      ..
465    1
466    1
467    1
468    0
469    1
Name: prediksi, Length: 470, dtype: int64

In [29]:
print(data_new_rev)

0      1
1      1
2      1
3      1
4      1
      ..
465    1
466    1
467    1
468    0
469    1
Name: Unnamed: 5, Length: 470, dtype: int64

In [30]:
score = metrics.f1_score(data_new_rev, prediksi, average='micro')
print(score)

0.9170212765957447

In [31]:
score = metrics.f1_score(data_new_rev, prediksi, average='weighted')
print(score)

0.9061542342948449

In [32]:
score = metrics.f1_score(data_new_rev, prediksi, average='binary')
print(score)

0.9527272727272726

In [33]:
score = metrics.f1_score(data_new_rev, prediksi, average='macro')
print(score)

0.8067984189723321