In [173]:
import pandas as pd
import numpy as np
import itertools
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, HashingVectorizer
from sklearn import metrics
import matplotlib.pyplot as plt

In [174]:
df = pd.read_excel('D:\zzKoding\Data Sains - Machine Learning - AI\Lomba\Satria Data 2020\Data enLer\datatrainbr.xlsx')
df.head()

,Unnamed: 0,ID,label,judul,narasi,total
0,0,71,1,Pemakaian Masker Menyebabkan Penyakit Legionna...,A caller to a radio talk show recently shared ...,pemakaian masker menyebabkan penyakit legionn...
1,1,461,1,Instruksi Gubernur Jateng tentang penilangan ...,Yth.Seluruh Anggota Grup Sesuai Instruksi Gube...,instruksi gubernur jateng penilangan bermaske...
2,2,495,1,Foto Jim Rohn: Jokowi adalah presiden terbaik ...,Jokowi adalah presiden terbaik dlm sejarah ban...,foto jim jokowi presiden terbaik sejarah bang...
3,3,550,1,"ini bukan politik, tapi kenyataan Pak Jokowi b...","Maaf Mas2 dan Mbak2, ini bukan politik, tapi k...",politik kenyataan jokowi berhasil memulangkan...
4,4,681,1,Foto Kadrun kalo lihat foto ini panas dingin,Kadrun kalo lihat foto ini panas dingin . .,foto lihat foto panas dingin lihat foto panas...

In [175]:
print(df.shape)
df = df.drop(['Unnamed: 0'], axis=1)
df.head()

(4231, 6)

,ID,label,judul,narasi,total
0,71,1,Pemakaian Masker Menyebabkan Penyakit Legionna...,A caller to a radio talk show recently shared ...,pemakaian masker menyebabkan penyakit legionn...
1,461,1,Instruksi Gubernur Jateng tentang penilangan ...,Yth.Seluruh Anggota Grup Sesuai Instruksi Gube...,instruksi gubernur jateng penilangan bermaske...
2,495,1,Foto Jim Rohn: Jokowi adalah presiden terbaik ...,Jokowi adalah presiden terbaik dlm sejarah ban...,foto jim jokowi presiden terbaik sejarah bang...
3,550,1,"ini bukan politik, tapi kenyataan Pak Jokowi b...","Maaf Mas2 dan Mbak2, ini bukan politik, tapi k...",politik kenyataan jokowi berhasil memulangkan...
4,681,1,Foto Kadrun kalo lihat foto ini panas dingin,Kadrun kalo lihat foto ini panas dingin . .,foto lihat foto panas dingin lihat foto panas...

In [176]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4231 entries, 0 to 4230
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      4231 non-null   int64
 1   label   4231 non-null   int64
 2   judul   4231 non-null   object
 3   narasi  4231 non-null   object
 4   total   4231 non-null   object
dtypes: int64(2), object(3)
memory usage: 165.4+ KB

In [177]:
df['label'].value_counts()

1    3465
0     766
Name: label, dtype: int64

In [214]:
df_t = pd.read_excel('D:\zzKoding\Data Sains - Machine Learning - AI\Lomba\Satria Data 2020\Data enLer\datatestbr - Copy.xlsx')
df_t_id = df_t['ID']
df_t.head()

,Unnamed: 0,ID,judul,narasi,label,total
0,0,238057,Narasi Tito Karnavian Berideologi Komunis Kare...,TITO KARNIVAN ITU BERIDIOLOGI KOMUNIS DIA BISA...,1,narasi tito berideologi komunis disekolahkan ...
1,1,238158,Anies: Seberat beratnya Pekerjaan Akan terasa ...,Seberat beratnya Pekerjaan Akan terasa ringan ...,1,anies seberat beratnya pekerjaan ringan kerja...
2,2,238865,Hindu di india Melemparkan Patung Buatan Merek...,Hindu di india melemparkan patung buatan merek...,1,hindu india melemparkan patung buatan laut me...
3,3,248298,RSCM Praktekkan Penyedotan Plug Vena/Saluran ...,Mulai Hari ini di RSCM mulai diPraktekkan Peny...,1,rscm praktekkan penyedotan plug darah rscm di...
4,4,255176,Permohonan Kelonggaran Angsuran ke OJK,"Untuk sekedar info, Bagi anda yg punya ansuran...",1,permohonan kelonggaran angsuran ojk info kelo...

In [179]:
df_t = df_t.drop(['Unnamed: 0'], axis=1)
df_t.head()

,ID,judul,narasi,label,total
0,238057,Narasi Tito Karnavian Berideologi Komunis Kare...,TITO KARNIVAN ITU BERIDIOLOGI KOMUNIS DIA BISA...,1,narasi tito berideologi komunis disekolahkan ...
1,238158,Anies: Seberat beratnya Pekerjaan Akan terasa ...,Seberat beratnya Pekerjaan Akan terasa ringan ...,1,anies seberat beratnya pekerjaan ringan kerja...
2,238865,Hindu di india Melemparkan Patung Buatan Merek...,Hindu di india melemparkan patung buatan merek...,1,hindu india melemparkan patung buatan laut me...
3,248298,RSCM Praktekkan Penyedotan Plug Vena/Saluran ...,Mulai Hari ini di RSCM mulai diPraktekkan Peny...,1,rscm praktekkan penyedotan plug darah rscm di...
4,255176,Permohonan Kelonggaran Angsuran ke OJK,"Untuk sekedar info, Bagi anda yg punya ansuran...",1,permohonan kelonggaran angsuran ojk info kelo...

In [180]:
print(df_t.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 470 entries, 0 to 469
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      470 non-null    int64
 1   judul   470 non-null    object
 2   narasi  470 non-null    object
 3   label   470 non-null    int64
 4   total   470 non-null    object
dtypes: int64(2), object(3)
memory usage: 18.5+ KB
None

In [181]:
#inisiasi x dan y
x_train = df['total']
y_train = df['label']

In [182]:
x_test = df_t['total']
y_test = df_t['label']

In [183]:
# Initialize a TfidfVectorizer
tfidf_vectorizer=TfidfVectorizer(max_df=1.0)

#Fit and transform train set, transform test set
tfidf_train=tfidf_vectorizer.fit_transform(x_train)
tfidf_test=tfidf_vectorizer.transform(x_test)

In [184]:
tfidf_train_array = tfidf_train.toarray()
tfidf_test_array = tfidf_test.toarray()
tfidf_train_df = pd.DataFrame(tfidf_train_array)
tfidf_test_df = pd.DataFrame(tfidf_test_array)
display(tfidf_train_df.head())
display(tfidf_test_df.head())

,0,1,2,3,4,5,6,7,8,9,...,16769,16770,16771,16772,16773,16774,16775,16776,16777,16778
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,0,1,2,3,4,5,6,7,8,9,...,16769,16770,16771,16772,16773,16774,16775,16776,16777,16778
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [185]:
Dataset_full = pd.concat([tfidf_train_df, y_train], axis=1)

In [186]:
def subset_model(data):
    subset = data.sample(frac=1, replace=True, random_state=77)
    subset_x = subset.drop('label', axis=1)
    subset_y = subset['label']
    return subset_x, subset_y

In [187]:
subset1_x, subset1_y = subset_model(Dataset_full)

In [188]:
#PAC PAKE DF
from sklearn.metrics import f1_score
from sklearn.linear_model import PassiveAggressiveClassifier
# PASSIVE-AGGRESSIVE CLASSIFIER TF-IDF   

pac=PassiveAggressiveClassifier(max_iter=50)
pac.fit(subset1_x,subset1_y)
#Predict on the test set
y_pred1 = pac.predict(tfidf_test_df)

#F1 Score
scoref1 = f1_score(y_test, y_pred1)
print(f'F1 Score: {round(scoref1*100,2)}%')

F1 Score: 92.87%

In [189]:
subset2_x, subset2_y = subset_model(Dataset_full)

In [190]:
from sklearn.naive_bayes import MultinomialNB
from sklearn import metrics

nb_classifier = MultinomialNB(alpha=0.1)

# Fit to the training data
nb_classifier.fit(subset2_x, subset2_y)

# Predict the labels: pred
y_pred2 = nb_classifier.predict(tfidf_test_df)

# Compute accuracy: score
score2 = metrics.f1_score(y_test, y_pred2)
print(f'F1 Score: {round(score2*100,2)}%')

F1 Score: 90.93%

In [191]:
subset3_x, subset3_y = subset_model(Dataset_full)

In [192]:
from sklearn.linear_model import LogisticRegression

logreg = LogisticRegression()
logreg.fit(subset3_x, subset3_y)
y_pred3 = logreg.predict(tfidf_test_df)
score3 = metrics.f1_score(y_test, y_pred3)
print(f'F1 Score: {round(score3*100,2)}%')

F1 Score: 91.86%

In [193]:
subset4_x, subset4_y = subset_model(Dataset_full)

In [194]:
from sklearn.ensemble import RandomForestClassifier

# Create the model with 100 trees
model = RandomForestClassifier(n_estimators=100, 
                               bootstrap = True,
                               max_features = 'sqrt')
# Fit on training data
model.fit(subset4_x, subset4_y)
y_pred4 = model.predict(tfidf_test_df)
score4 = metrics.f1_score(y_test, y_pred4)
print(f'F1 Score: {round(score4*100,2)}%')

F1 Score: 94.92%

In [195]:
subset5_x, subset5_y = subset_model(Dataset_full)

In [196]:
#Import svm model
from sklearn import svm

#Create a svm Classifier
clf = svm.SVC(kernel='linear') # Linear Kernel

#Train the model using the training sets
clf.fit(subset5_x, subset5_y)

#Predict the response for test dataset
y_pred5 = clf.predict(tfidf_test_df)
score5 = metrics.f1_score(y_test, y_pred5)
print(f'F1 Score: {round(score5*100,2)}%')

F1 Score: 93.67%

In [197]:
print(len(y_pred1))
print(len(y_pred2))
print(len(y_pred3))
print(len(y_pred4))
print(len(y_pred5))
print(len(tfidf_test_df))

470
470
470
470
470
470

In [203]:
from statistics import mode
final_pred = np.array([])
for i in range(0,len(tfidf_test_df)):
    final_pred = np.append(final_pred, mode([y_pred1[i], y_pred4[i], y_pred5[i]]))

In [204]:
score_akhir = metrics.f1_score(y_test, final_pred)
print(f'F1 Score: {round(score_akhir*100,2)}%')

F1 Score: 94.46%

In [205]:
print(len(final_pred))
print(final_pred[:5])
print(y_test[:5])

470
[1. 1. 1. 1. 1.]
0    1
1    1
2    1
3    1
4    1
Name: label, dtype: int64

In [206]:
dataframe_pred = pd.DataFrame()
for i in range(0, len(final_pred)):
    dataframe_pred.loc[i, 'prediksi'] = final_pred[i]
print(dataframe_pred['prediksi'].value_counts())

1.0    435
0.0     35
Name: prediksi, dtype: int64

In [207]:
print(y_test.value_counts())

1    395
0     75
Name: label, dtype: int64

In [209]:
prediksi_asli = pd.read_csv('D:\zzKoding\Data Sains - Machine Learning - AI\Lomba\Satria Data 2020\Data2\hasil_pred.csv')
print(prediksi_asli['prediksi'].value_counts())

1    434
0     36
Name: prediksi, dtype: int64

In [212]:
# print(y_pred4.value_counts())

In [211]:
dataframe_pred = pd.DataFrame()
for i in range(0, len(final_pred)):
    dataframe_pred.loc[i, 'prediksi'] = y_pred4[i]
print(dataframe_pred['prediksi'].value_counts())

1.0    431
0.0     39
Name: prediksi, dtype: int64

In [215]:
hasil_prediksi = {'ID':[i for i in df_t_id], 'prediksi':[y for y in y_pred4]}
hasil_prediksi_df = pd.DataFrame.from_dict(hasil_prediksi)

In [216]:
print(hasil_prediksi_df.head())
print(hasil_prediksi_df.info())

       ID  prediksi
0  238057         1
1  238158         1
2  238865         1
3  248298         1
4  255176         1
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 470 entries, 0 to 469
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        470 non-null    int64
 1   prediksi  470 non-null    int64
dtypes: int64(2)
memory usage: 7.5 KB
None

In [217]:
hasil_prediksi_df.to_csv('D:\hasil_pred_rev.csv', index=False)