In [51]:
import pandas as pd
import numpy as np
import itertools
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer, HashingVectorizer
from sklearn import metrics
import matplotlib.pyplot as plt

In [52]:
df = pd.read_excel('D:\zzKoding\Data Sains - Machine Learning - AI\Lomba\Satria Data 2020\Data enLer\datatrainbr.xlsx')
df.head()

,Unnamed: 0,ID,label,judul,narasi,total
0,0,71,1,Pemakaian Masker Menyebabkan Penyakit Legionna...,A caller to a radio talk show recently shared ...,pemakaian masker menyebabkan penyakit legionn...
1,1,461,1,Instruksi Gubernur Jateng tentang penilangan ...,Yth.Seluruh Anggota Grup Sesuai Instruksi Gube...,instruksi gubernur jateng penilangan bermaske...
2,2,495,1,Foto Jim Rohn: Jokowi adalah presiden terbaik ...,Jokowi adalah presiden terbaik dlm sejarah ban...,foto jim jokowi presiden terbaik sejarah bang...
3,3,550,1,"ini bukan politik, tapi kenyataan Pak Jokowi b...","Maaf Mas2 dan Mbak2, ini bukan politik, tapi k...",politik kenyataan jokowi berhasil memulangkan...
4,4,681,1,Foto Kadrun kalo lihat foto ini panas dingin,Kadrun kalo lihat foto ini panas dingin . .,foto lihat foto panas dingin lihat foto panas...

In [53]:
print(df.shape)
df = df.drop(['Unnamed: 0'], axis=1)
df.head()

(4231, 6)

,ID,label,judul,narasi,total
0,71,1,Pemakaian Masker Menyebabkan Penyakit Legionna...,A caller to a radio talk show recently shared ...,pemakaian masker menyebabkan penyakit legionn...
1,461,1,Instruksi Gubernur Jateng tentang penilangan ...,Yth.Seluruh Anggota Grup Sesuai Instruksi Gube...,instruksi gubernur jateng penilangan bermaske...
2,495,1,Foto Jim Rohn: Jokowi adalah presiden terbaik ...,Jokowi adalah presiden terbaik dlm sejarah ban...,foto jim jokowi presiden terbaik sejarah bang...
3,550,1,"ini bukan politik, tapi kenyataan Pak Jokowi b...","Maaf Mas2 dan Mbak2, ini bukan politik, tapi k...",politik kenyataan jokowi berhasil memulangkan...
4,681,1,Foto Kadrun kalo lihat foto ini panas dingin,Kadrun kalo lihat foto ini panas dingin . .,foto lihat foto panas dingin lihat foto panas...

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4231 entries, 0 to 4230
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      4231 non-null   int64
 1   label   4231 non-null   int64
 2   judul   4231 non-null   object
 3   narasi  4231 non-null   object
 4   total   4231 non-null   object
dtypes: int64(2), object(3)
memory usage: 165.4+ KB

In [55]:
df['label'].value_counts()

1    3465
0     766
Name: label, dtype: int64

In [56]:
df_t = pd.read_excel('D:\zzKoding\Data Sains - Machine Learning - AI\Lomba\Satria Data 2020\Data enLer\datatestbr - Copy.xlsx')
df_t_id = df_t['ID']
df_t.head()

,Unnamed: 0,ID,judul,narasi,label,total
0,0,238057,Narasi Tito Karnavian Berideologi Komunis Kare...,TITO KARNIVAN ITU BERIDIOLOGI KOMUNIS DIA BISA...,1,narasi tito berideologi komunis disekolahkan ...
1,1,238158,Anies: Seberat beratnya Pekerjaan Akan terasa ...,Seberat beratnya Pekerjaan Akan terasa ringan ...,1,anies seberat beratnya pekerjaan ringan kerja...
2,2,238865,Hindu di india Melemparkan Patung Buatan Merek...,Hindu di india melemparkan patung buatan merek...,1,hindu india melemparkan patung buatan laut me...
3,3,248298,RSCM Praktekkan Penyedotan Plug Vena/Saluran ...,Mulai Hari ini di RSCM mulai diPraktekkan Peny...,1,rscm praktekkan penyedotan plug darah rscm di...
4,4,255176,Permohonan Kelonggaran Angsuran ke OJK,"Untuk sekedar info, Bagi anda yg punya ansuran...",1,permohonan kelonggaran angsuran ojk info kelo...

In [57]:
df_t = df_t.drop(['Unnamed: 0'], axis=1)
df_t.head()

,ID,judul,narasi,label,total
0,238057,Narasi Tito Karnavian Berideologi Komunis Kare...,TITO KARNIVAN ITU BERIDIOLOGI KOMUNIS DIA BISA...,1,narasi tito berideologi komunis disekolahkan ...
1,238158,Anies: Seberat beratnya Pekerjaan Akan terasa ...,Seberat beratnya Pekerjaan Akan terasa ringan ...,1,anies seberat beratnya pekerjaan ringan kerja...
2,238865,Hindu di india Melemparkan Patung Buatan Merek...,Hindu di india melemparkan patung buatan merek...,1,hindu india melemparkan patung buatan laut me...
3,248298,RSCM Praktekkan Penyedotan Plug Vena/Saluran ...,Mulai Hari ini di RSCM mulai diPraktekkan Peny...,1,rscm praktekkan penyedotan plug darah rscm di...
4,255176,Permohonan Kelonggaran Angsuran ke OJK,"Untuk sekedar info, Bagi anda yg punya ansuran...",1,permohonan kelonggaran angsuran ojk info kelo...

In [58]:
print(df_t.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 470 entries, 0 to 469
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   ID      470 non-null    int64
 1   judul   470 non-null    object
 2   narasi  470 non-null    object
 3   label   470 non-null    int64
 4   total   470 non-null    object
dtypes: int64(2), object(3)
memory usage: 18.5+ KB
None

In [59]:
import nltk
import re
nltk.download('stopwords')
nltk.download('punkt')
from nltk.corpus import stopwords
from nltk import sent_tokenize, word_tokenize

[nltk_data] Error loading stopwords: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>
[nltk_data] Error loading punkt: <urlopen error [Errno 11001]
[nltk_data]     getaddrinfo failed>

In [60]:
#!pip install Sastrawi
#stopwords removal 1
#from Sastrawi.StopWordRemover.StopWordRemoverFactory import StopWordRemoverFactory
#stop = StopWordRemoverFactory().get_stop_words()

from nltk.corpus import stopwords
# ----------------------- get stopword from NLTK stopword -------------------------------
# get stopword indonesia
list_stopwords = stopwords.words('indonesian')
stop_words = list_stopwords

In [61]:
df_hoax = df[df['label']==1]
df_nonhoax = df[df['label']==0]

In [62]:
df_hoax_counts = dict()
#preprocessing data training
for index, row in df_hoax.iterrows():
    filter_sentence = ''
    sentence = row['total']
    # Cleaning dengan regular expression
    sentence = re.sub(r'[^\w\s]', '', sentence)
    # Tokenization
    words = nltk.word_tokenize(sentence)
    # Menghilangkan stopwords
    words = [w for w in words if not w in stop_words]
    # Lower case
    for word in words:
        if word.lower() in df_hoax_counts:
            df_hoax_counts[word.lower()] += 1
        else:
            df_hoax_counts[word.lower()] = 1
        filter_sentence = filter_sentence  + ' ' + word.lower()
    
    df_hoax.loc[index, 'total'] = filter_sentence

C:\Users\ACER\anaconda3\lib\site-packages\pandas\core\indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [63]:
df_nonhoax_counts = dict()
#preprocessing data training
for index, row in df_nonhoax.iterrows():
    filter_sentence = ''
    sentence = row['total']
    # Cleaning dengan regular expression
    sentence = re.sub(r'[^\w\s]', '', sentence)
    # Tokenization
    words = nltk.word_tokenize(sentence)
    # Menghilangkan stopwords
    words = [w for w in words if not w in stop_words]
    # Lower case
    for word in words:
        if word.lower() in df_nonhoax_counts:
            df_nonhoax_counts[word.lower()] += 1
        else:
            df_nonhoax_counts[word.lower()] = 1
        filter_sentence = filter_sentence  + ' ' + word.lower()
    
    df_nonhoax.loc[index, 'total'] = filter_sentence

In [64]:
df_hoax_counts_df = pd.DataFrame({'kata':[x for x, y in df_hoax_counts.items()], "jumlah":[y for x, y in df_hoax_counts.items()]})
df_hoax_counts_df.sort_values(by=['jumlah'], inplace=True, ascending=False)
df_hoax_counts_df = df_hoax_counts_df.reset_index(drop=True)

In [65]:
df_nonhoax_counts_df = pd.DataFrame({'kata':[x for x, y in df_nonhoax_counts.items()], "jumlah":[y for x, y in df_nonhoax_counts.items()]})
df_nonhoax_counts_df.sort_values(by=['jumlah'], inplace=True, ascending=False)
df_nonhoax_counts_df = df_nonhoax_counts_df.reset_index(drop=True)

In [66]:
display(df_hoax_counts_df)

                 kata  jumlah
0           indonesia     591
1              jokowi     491
2                foto     426
3               orang     394
4              corona     384
...               ...     ...
15150       penginjil       1
15151      suruhannya       1
15152  tersebutkarena       1
15153           elite       1
15154             kue       1

[15155 rows x 2 columns]

In [67]:
display(df_nonhoax_counts_df)

             kata  jumlah
0       indonesia     158
1            hoax     155
2     klarifikasi     111
3         terkait     104
4          jokowi      89
...           ...     ...
5745   mainstream       1
5746  kemanusiaan       1
5747    chelation       1
5748     cilodong       1
5749    mirrornya       1

[5750 rows x 2 columns]

In [68]:
list_kata_non = [y['kata'] for x, y in df_nonhoax_counts_df.iterrows()]
kata_di_hoax_and_nonhoax = [y['kata'] for x, y in df_hoax_counts_df.iterrows() if y['kata'] in list_kata_non]

In [69]:
display(kata_di_hoax_and_nonhoax)

['indonesia',
 'jokowi',
 'foto',
 'orang',
 'corona',
 'video',
 'virus',
 'china',
 'the',
 'presiden',
 'anak',
 'meninggal',
 'jakarta',
 'negara',
 'islam',
 'warga',
 'info',
 'prabowo',
 'masuk',
 'dunia',
 'rumah',
 '2',
 'pki',
 'pemerintah',
 '1',
 'allah',
 'rakyat',
 'tni',
 'kota',
 'of',
 'air',
 'cina',
 'ahok',
 'surat',
 'polisi',
 'in',
 'korban',
 'dr',
 'muslim',
 'salah',
 'uang',
 'berita',
 '3',
 'akun',
 'mati',
 'nama',
 'jalan',
 'kerja',
 '2019',
 'hoax',
 'sakit',
 'a',
 'masjid',
 'aksi',
 'mobil',
 'masyarakat',
 'semoga',
 'media',
 '2018',
 'negeri',
 'dki',
 'to',
 'anies',
 'agama',
 'pesan',
 'positif',
 'hasil',
 'facebook',
 'mohon',
 'suara',
 'kpu',
 'akibat',
 'jam',
 'anggota',
 'menteri',
 'umat',
 'gratis',
 'and',
 'beredar',
 'langsung',
 'ri',
 '19',
 'tol',
 'arab',
 'pt',
 'informasi',
 'gambar',
 'gubernur',
 'fpi',
 'tanggal',
 'kejadian',
 'hati',
 '4',
 'wanita',
 'pasien',
 'jawa',
 'tolong',
 'rp',
 'manusia',
 'makan',
 'terkait',
 'papua',
 'is',
 '5',
 'malam',
 'rs',
 'merah',
 'keluarga',
 'daerah',
 'tangan',
 'komunis',
 'hidup',
 'wilayah',
 'selamat',
 'mahasiswa',
 'amerika',
 'habib',
 'demo',
 'saudi',
 'kali',
 'ketua',
 'polri',
 'kepala',
 'amin',
 'surabaya',
 'rizieq',
 'nomor',
 'barat',
 'ulama',
 'kena',
 'sekolah',
 'waspada',
 'kesehatan',
 'rezim',
 'bayi',
 'pakai',
 'palsu',
 'dana',
 'gereja',
 'partai',
 'kabar',
 '10',
 'bandara',
 'kanker',
 'israel',
 'sholat',
 'tulisan',
 'bank',
 'data',
 'sosial',
 'april',
 'gedung',
 'pdip',
 '212',
 'india',
 'acara',
 'pilpres',
 'resmi',
 'pesawat',
 'pelaku',
 'no',
 'tentara',
 'asing',
 'juta',
 'tanah',
 'ditemukan',
 'bangsa',
 'membawa',
 'dokter',
 'dpr',
 'maruf',
 'beliau',
 'online',
 'dukung',
 'wa',
 'baswedan',
 'memiliki',
 'org',
 'buka',
 'maaf',
 'hp',
 'pagi',
 'tv',
 'bantuan',
 'bendera',
 'lihat',
 'muncul',
 'gempa',
 'laut',
 'mata',
 'putih',
 'babi',
 'pemimpin',
 'viral',
 'pria',
 'for',
 'teman',
 'biaya',
 '2017',
 'aamiin',
 'besok',
 'daftar',
 'tka',
 'mendukung',
 'vaksin',
 'penyakit',
 'darah',
 'whatsapp',
 'utara',
 'kepolisian',
 'raja',
 'alquran',
 'minggu',
 'makanan',
 'cepat',
 'tubuh',
 'widodo',
 'jumat',
 'tim',
 'gunung',
 'beli',
 'italia',
 'tes',
 'timur',
 'nkri',
 'calon',
 'pernyataan',
 'saudara',
 'tenaga',
 'ikan',
 'pusat',
 'ribu',
 'panas',
 'joko',
 'kartu',
 'istri',
 'terkena',
 'haji',
 'ktp',
 'bali',
 'berbahaya',
 'mengandung',
 'palestina',
 'cebong',
 'tinggal',
 'harga',
 'medis',
 '6',
 'membantu',
 'al',
 'tutup',
 'terima',
 'maret',
 'politik',
 'bin',
 'perempuan',
 'penculikan',
 'as',
 'peserta',
 'bumi',
 'membunuh',
 'bantu',
 'coba',
 'wuhan',
 'pulang',
 'berantai',
 'anjing',
 'melawan',
 'selatan',
 'bandung',
 'sim',
 'jembatan',
 'sebarkan',
 'logo',
 'bencana',
 'with',
 'petugas',
 'narasi',
 'jari',
 'pendukung',
 'motor',
 'banser',
 'menerima',
 'depok',
 'sd',
 'guru',
 'this',
 '7',
 'cpns',
 'mei',
 'by',
 'nasional',
 'megawati',
 'pasar',
 'raya',
 'proyek',
 'kasih',
 'asli',
 'bawa',
 'isu',
 'it',
 'ribuan',
 'batu',
 '20',
 'api',
 'karyawan',
 'ustadz',
 'mayat',
 'kondisi',
 'kapal',
 'bernama',
 'layar',
 'palu',
 'sandi',
 'tangkapan',
 'obat',
 'kantor',
 'universitas',
 'ditutup',
 'seleksi',
 'monas',
 'malang',
 'wabah',
 'share',
 'pendidikan',
 'kemarin',
 'listrik',
 'muhammad',
 'suka',
 '100',
 'mall',
 'jepang',
 'ormas',
 'aceh',
 'pks',
 'who',
 'nu',
 'pekerja',
 'i',
 'terbakar',
 'artikel',
 'on',
 'hati2',
 'warna',
 'relawan',
 'klarifikasi',
 'menolak',
 'barang',
 'narkoba',
 'bogor',
 'shihab',
 'modus',
 'minum',
 'mengeluarkan',
 'siang',
 '02',
 'istana',
 'bukti',
 'utang',
 '30',
 'pake',
 'berlaku',
 'sri',
 'kampanye',
 'banjir',
 '12',
 'triliun',
 'agustus',
 'dijual',
 'begal',
 'kh',
 'pantai',
 'kementerian',
 'milik',
 'desa',
 'from',
 'hukum',
 'badan',
 'imam',
 'mantan',
 'kegiatan',
 'silahkan',
 '11',
 'sby',
 'coronavirus',
 'panglima',
 'pemilu',
 'sumber',
 'cek',
 'ayo',
 'percaya',
 'dilarang',
 'aparat',
 'bunuh',
 'akbar',
 'gerakan',
 'bela',
 'desember',
 'tua',
 'tanda',
 'turki',
 'bayar',
 'jiwa',
 'sesuai',
 'hoaks',
 'that',
 'perhatian',
 'menjaga',
 'dimana',
 'swt',
 'malaysia',
 'plastik',
 'gila',
 'kaki',
 '14',
 'mengambil',
 'jaga',
 'habis',
 'new',
 'teroris',
 'kpk',
 'prof',
 'ruu',
 'ditangkap',
 'abdul',
 'jabatan',
 'turun',
 'kabupaten',
 'film',
 'bom',
 'pintu',
 'kaum',
 'kpd',
 'tukang',
 'hatihati',
 'jalur',
 'mui',
 'wakil',
 '15',
 'terbaru',
 'said',
 'pulau',
 'zona',
 'harap',
 'mudah',
 'isi',
 'menit',
 'poster',
 'dibawah',
 '25',
 'mari',
 'periode',
 'hadiah',
 'kendaraan',
 'bahan',
 'hilang',
 'menang',
 'tewas',
 'daging',
 'lgbt',
 'bicara',
 'was',
 'agung',
 'korupsi',
 'twitter',
 'terbaik',
 'berhasil',
 'jln',
 'bekasi',
 'minuman',
 'diduga',
 'tsunami',
 'kapolri',
 'mulyani',
 'pilih',
 'provinsi',
 'pemuda',
 'grup',
 'haram',
 '2016',
 'jual',
 'karya',
 'sang',
 'lokasi',
 'kirim',
 'apapun',
 'anaknya',
 'riau',
 'soekarno',
 'metro',
 'mengikuti',
 'rupiah',
 'detik',
 'judul',
 'penuh',
 'anakanak',
 'bahasa',
 'tolak',
 'kematian',
 'publik',
 '18',
 'dinas',
 'rapat',
 'sejarah',
 'karna',
 'juli',
 'pemilik',
 'sore',
 'berjudul',
 'hitam',
 'uno',
 'pekerjaan',
 'hancur',
 'tiongkok',
 'pembunuhan',
 'keras',
 'bupati',
 'you',
 'dukungan',
 'wapres',
 'wib',
 'postingan',
 'pasukan',
 '8',
 'sapi',
 'penipuan',
 'matahari',
 'bagikan',
 'sultan',
 'salam',
 'tilang',
 'bahaya',
 'teman2',
 'myanmar',
 'wajib',
 'thailand',
 'alias',
 'salman',
 'kebakaran',
 'pegawai',
 'aqil',
 'kristen',
 'undangan',
 'jenis',
 'kebijakan',
 'serangan',
 'juni',
 'sandiaga',
 'bumn',
 'bocor',
 'khusus',
 'alat',
 'doa',
 'didalam',
 'anak2',
 'ganti',
 '9',
 'penjelasan',
 'somad',
 'penampakan',
 'senin',
 'people',
 'main',
 'bawang',
 'news',
 'berdoa',
 'suhu',
 'terinfeksi',
 'dianggap',
 'spanduk',
 'natal',
 'baju',
 'trump',
 'dibakar',
 'internasional',
 'australia',
 'kalimat',
 'pohon',
 'diam',
 'umur',
 'hebat',
 'sy',
 '17',
 'perjuangan',
 'mengaku',
 'udara',
 'terbuka',
 'program',
 'pembangunan',
 'solo',
 'tp',
 'tuhan',
 'berani',
 'rokok',
 'dibunuh',
 'perang',
 'bermain',
 'kalah',
 'menyerang',
 'massa',
 'mengalami',
 'emas',
 'km',
 'namanya',
 'are',
 'dinyatakan',
 'dibuka',
 'bentuk',
 'berdasarkan',
 'dasar',
 'ulang',
 'mundur',
 'mencari',
 'polda',
 'm',
 'bpjs',
 'ahli',
 'berasal',
 'viralkan',
 'oktober',
 'pejabat',
 'merusak',
 'pajak',
 'khilafah',
 'can',
 'subhanallah',
 'belajar',
 'menangis',
 'world',
 'siswa',
 'korea',
 'sma',
 'mematikan',
 'ruang',
 'gas',
 'orangorang',
 'bener',
 'makassar',
 'palembang',
 'jantung',
 'tokoh',
 'mandiri',
 'sehat',
 'sepeda',
 'gerindra',
 'membuka',
 'kawan',
 'nyata',
 'jerman',
 'langit',
 'angkat',
 'binatang',
 'uji',
 'halal',
 'semarang',
 'senjata',
 'memilih',
 'pilkada',
 'terbukti',
 'luhut',
 'fakta',
 'proses',
 'innalillahi',
 'banget',
 'arit',
 'nyatakan',
 'ekonomi',
 'dipakai',
 'game',
 'nonton',
 'otak',
 'beras',
 'bertuliskan',
 'fitnah',
 'meledak',
 'lombok',
 'at',
 'rusia',
 'pribumi',
 'lakukan',
 'mesjid',
 'penumpang',
 'tertangkap',
 'sistem',
 'ibadah',
 'kabur',
 'mengatasnamakan',
 'humas',
 'hujan',
 'mas',
 'sulawesi',
 'pancasila',
 'kereta',
 'paham',
 'bagibagi',
 'pergi',
 'putra',
 'sibuk',
 'kecelakaan',
 'buah',
 'internet',
 'mengerikan',
 'alam',
 'rohingya',
 'sabtu',
 'operasi',
 'santri',
 'be',
 '16',
 'gagal',
 'ponsel',
 'perut',
 'bensin',
 'group',
 'ali',
 'ii',
 'hacker',
 'bantah',
 'perusahaan',
 'lokal',
 'militer',
 'damai',
 'garuda',
 'google',
 'produksi',
 'kk',
 'pribadi',
 'jatim',
 '500',
 'kubur',
 'nggak',
 'sukabumi',
 'pindah',
 'kader',
 'dajjal',
 'penyebaran',
 'buatan',
 'kalimantan',
 'berisi',
 'akses',
 'biarkan',
 'kampung',
 'ustad',
 'alasan',
 'alhamdulillah',
 'anti',
 'keamanan',
 'serikat',
 'games',
 'janji',
 'siaga',
 'pengumuman',
 'akui',
 'its',
 'paksa',
 'pertamina',
 'isis',
 'tiket',
 'melarang',
 'medan',
 'dibawa',
 'penggunaan',
 'garam',
 'tidur',
 'asian',
 'sebelah',
 'menyebabkan',
 'sepi',
 'pabrik',
 'republik',
 'ratusan',
 'adzan',
 'impor',
 'pimpinan',
 'bangkit',
 'baca',
 'penjara',
 'kecamatan',
 'psi',
 'sms',
 'permen',
 'gus',
 'pengguna',
 'diambil',
 'ku',
 'disertai',
 'sadar',
 'tingkat',
 'yesus',
 'kepentingan',
 'one',
 'pp',
 'jutaan',
 'era',
 'sumatera',
 'bermanfaat',
 'melindungi',
 'menyebar',
 'sulit',
 'vs',
 'oknum',
 '23',
 'rencana',
 'peringatan',
 'pembuatan',
 'pesantren',
 'penanganan',
 'subianto',
 '31',
 'keterangan',
 'belanja',
 'pns',
 'negri',
 'indah',
 'november',
 'orang2',
 'lagu',
 'polsek',
 'have',
 'neraka',
 'iran',
 'rrc',
 'inggris',
 '01',
 'januari',
 'jt',
 'jihad',
 'wajah',
 'walikota',
 'kafir',
 'toko',
 '50',
 'cari',
 'smp',
 'abu',
 'zaman',
 'kejahatan',
 'tempo',
 'muda',
 'berusia',
 'penerimaan',
 'atm',
 'president',
 'out',
 'pemerintahan',
 'membangun',
 'takut',
 'menarik',
 '24',
 'skrg',
 'not',
 'jendral',
 'kertas',
 'izin',
 'tahap',
 'bangun',
 'back',
 'diatas',
 'padang',
 'forum',
 'penyebab',
 'pemprov',
 'menghadapi',
 'buku',
 'tiba2',
 'pasca',
 'mk',
 'penduduk',
 'kayak',
 'singapura',
 'bbm',
 'kemenangan',
 'kenaikan',
 'ummat',
 'yaa',
 'terminal',
 'rsud',
 'dibagikan',
 'kaos',
 'tionghoa',
 'pastikan',
 'sahabat',
 'ilegal',
 'djarot',
 'ambil',
 'maju',
 'bunga',
 'breaking',
 'gangguan',
 'dikabarkan',
 'aman',
 'sampe',
 'poligami',
 'menemukan',
 'bmkg',
 'infrastruktur',
 'pesta',
 'area',
 '29',
 'jamaah',
 'membaca',
 'hutang',
 'perampokan',
 'lawan',
 'sengaja',
 'sembako',
 'honorer',
 '22',
 'grab',
 'mu',
 'saksi',
 'ilmu',
 'efek',
 'kamis',
 'wafat',
 'darurat',
 'fadli',
 'anggaran',
 'selesai',
 'salat',
 'keuangan',
 'dpt',
 'tiang',
 'mengakui',
 'kerajaan',
 'jl',
 'temanteman',
 'syarat',
 'ucapan',
 'lahir',
 'dinkes',
 'pemberitaan',
 'berat',
 'posting',
 'neno',
 'pelajar',
 'hutan',
 'masak',
 'mencegah',
 'membakar',
 'zon',
 'rangka',
 'tangerang',
 'kabinet',
 'memasang',
 '5g',
 'kiriman',
 'lampung',
 'hadir',
 'diluar',
 'perihal',
 'tindakan',
 'uas',
 'sampah',
 'rojiun',
 'gelar',
 'terbesar',
 'organisasi',
 'aneh',
 'h',
 'kominfo',
 'marah',
 'perintah',
 'nusantara',
 'via',
 'peraturan',
 'panik',
 'temen',
 'racun',
 'kedepan',
 'will',
 'fb',
 'sebar',
 'telur',
 'sel',
 'es',
 'aturan',
 'larangan',
 'mendengar',
 'situs',
 'death',
 'mitra',
 'betapa',
 'urusan',
 'batas',
 'morowali',
 'kiamat',
 'pelajaran',
 'tetangga',
 'cacing',
 'tenggelam',
 'pro',
 'bu',
 'yusuf',
 'budaya',
 '28',
 'surga',
 'merdeka',
 'selasa',
 'tunggu',
 ...]

In [70]:
df_counts = dict()
#preprocessing data training
for index, row in df.iterrows():
    filter_sentence = ''
    sentence = row['total']
    # Cleaning dengan regular expression
    sentence = re.sub(r'[^\w\s]', '', sentence)
    # Tokenization
    words = nltk.word_tokenize(sentence)
    # Menghilangkan stopwords
    words = [w for w in words if not w in stop_words]
    # Lower case
    for word in words:
        if word.lower() in df_counts:
            df_counts[word.lower()] += 1
        else:
            df_counts[word.lower()] = 1
        filter_sentence = filter_sentence  + ' ' + word.lower()
    
    df.loc[index, 'total'] = filter_sentence
    
df_t_counts = dict()
#preprocessing data testing    
for index, row in df_t.iterrows():
    filter_sentence = ''
    sentence = row['total']
    # Cleaning dengan regular expression
    sentence = re.sub(r'[^\w\s]', '', sentence)
    # Tokenization
    words = nltk.word_tokenize(sentence)
    # Menghilangkan stopwords
    words = [w for w in words if not w in stop_words]
    # Lower case
    for word in words:
        if word.lower() in df_t_counts:
            df_t_counts[word.lower()] += 1
        else:
            df_t_counts[word.lower()] = 1
        filter_sentence = filter_sentence  + ' ' + word.lower()
    
    df_t.loc[index, 'total'] = filter_sentence

In [71]:
df_counts_df = pd.DataFrame({'kata':[x for x, y in df_counts.items()], "jumlah":[y for x, y in df_counts.items()]})
df_counts_df.sort_values(by=['jumlah'], inplace=True, ascending=False)
df_counts_df = df_counts_df.reset_index(drop=True)

In [72]:
df_t_counts_df = pd.DataFrame({'kata':[x for x, y in df_t_counts.items()], "jumlah":[y for x, y in df_t_counts.items()]})
df_t_counts_df.sort_values(by=['jumlah'], inplace=True, ascending=False)
df_t_counts_df = df_t_counts_df.reset_index(drop=True)

In [73]:
kata_train_useless = df_counts_df[df_counts_df['jumlah']<=2]
kata_test_useless = df_t_counts_df[df_t_counts_df['jumlah']<=2]

In [74]:
kata_train_useless = [y['kata'] for x, y in kata_train_useless.iterrows()]
kata_test_useless = [y['kata'] for x, y in kata_test_useless.iterrows()]

In [75]:
#preprocessing data training
for index, row in df.iterrows():
    filter_sentence = ''
    sentence = row['total']
    # Cleaning dengan regular expression
    sentence = re.sub(r'[^\w\s]', '', sentence)
    # Tokenization
    words = nltk.word_tokenize(sentence)
    # Menghilangkan stopwords
    words = [w for w in words if not w in stop_words]
    # Lower case
    for word in words:
        if (word.lower() not in kata_di_hoax_and_nonhoax) and (word.lower() not in kata_train_useless):
            filter_sentence = filter_sentence  + ' ' + word.lower()
    df.loc[index, 'total'] = filter_sentence
    
#preprocessing data testing    
for index, row in df_t.iterrows():
    filter_sentence = ''
    sentence = row['total']
    # Cleaning dengan regular expression
    sentence = re.sub(r'[^\w\s]', '', sentence)
    # Tokenization
    words = nltk.word_tokenize(sentence)
    # Menghilangkan stopwords
    words = [w for w in words if not w in stop_words]
    # Lower case
    for word in words:
        if (word.lower() not in kata_di_hoax_and_nonhoax) and (word.lower() not in kata_test_useless):
            filter_sentence = filter_sentence  + ' ' + word.lower()
    df_t.loc[index, 'total'] = filter_sentence

In [83]:
df

,ID,label,judul,narasi,total
0,71,1,Pemakaian Masker Menyebabkan Penyakit Legionna...,A caller to a radio talk show recently shared ...,masker legionnaires show recently wife told s...
1,461,1,Instruksi Gubernur Jateng tentang penilangan ...,Yth.Seluruh Anggota Grup Sesuai Instruksi Gube...,
2,495,1,Foto Jim Rohn: Jokowi adalah presiden terbaik ...,Jokowi adalah presiden terbaik dlm sejarah ban...,
3,550,1,"ini bukan politik, tapi kenyataan Pak Jokowi b...","Maaf Mas2 dan Mbak2, ini bukan politik, tapi k...",kenyataan memulangkan 11000 swiss kenyataan m...
4,681,1,Foto Kadrun kalo lihat foto ini panas dingin,Kadrun kalo lihat foto ini panas dingin . .,
...,...,...,...,...,...
4226,999287,1,: KPK Dilarang Membawa Brimob Bersenjata Masuk...,KPK Dilarang Membawa Brimob Bersenjata Masuk G...,brimob brimob
4227,999472,1,Foto pejabat keuangan dibawah palu arit,Jangan mau dialihkan kepada pakaian adat… FOKU...,
4228,999501,1,Gambar Denny Siregar Musuh Warga Tasikmalaya d...,Akhir nya bisa terkenal bang denny,siregar tasikmalaya terkenal
4229,999848,1,Kaesang: Bapak Saya dengan Kesederhaan Bisa Ni...,Bapak Saya dengan Kesederhaan Bisa Nipu Rakyat...,nipu nipu
4230,999860,1,Laser dari termometer gun akan merusak struktu...,"IN: Saya nolak. Kalau Anda mau periksa, bukan ...",laser telapak kabel laser kabel tertawa dibod...

In [77]:
#inisiasi x dan y
x_train = df['total']
y_train = df['label']

In [78]:
x_test = df_t['total']
y_test = df_t['label']

In [79]:
# Initialize a TfidfVectorizer
tfidf_vectorizer=TfidfVectorizer(max_df=1.0)

#Fit and transform train set, transform test set
tfidf_train=tfidf_vectorizer.fit_transform(x_train)
tfidf_test=tfidf_vectorizer.transform(x_test)

In [80]:
tfidf_train_array = tfidf_train.toarray()
tfidf_test_array = tfidf_test.toarray()
tfidf_train_df = pd.DataFrame(tfidf_train_array)
tfidf_test_df = pd.DataFrame(tfidf_test_array)
display(tfidf_train_df.head())
display(tfidf_test_df.head())

,0,1,2,3,4,5,6,7,8,9,...,2746,2747,2748,2749,2750,2751,2752,2753,2754,2755
0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.474312,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

,0,1,2,3,4,5,6,7,8,9,...,2746,2747,2748,2749,2750,2751,2752,2753,2754,2755
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [81]:
subset4_x, subset4_y = tfidf_train_df, y_train

In [82]:
from sklearn.ensemble import RandomForestClassifier

# Create the model with 100 trees
model = RandomForestClassifier(n_estimators=100, 
                               bootstrap = True,
                               max_features = 'sqrt')
# Fit on training data
model.fit(subset4_x, subset4_y)
y_pred4 = model.predict(tfidf_test_df)
score4 = metrics.f1_score(y_test, y_pred4)
print(f'F1 Score: {round(score4*100,2)}%')

F1 Score: 56.39%